
<div class="container-fluid">
  <div class="row" style="margin-top:50px;padding:1em;">
    <div class="col-12">
      <div class="btn-group">
        <button type="button" class="btn dropdown-toggle shadow-none" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
          Actions
        </button>
        <div class="dropdown-menu dropdown-menu-lg-right">
          <button class="dropdown-item" type="button" (click)="move($event)">Move To</button>
          <button class="dropdown-item" type="button">Another action</button>
        </div>
      </div>
  </div>
</div>

<div class="map-container">
  <div class="map-frame">
    <div id="map"></div>
  </div>
  <div class="container-fluid">
    <div class="row" style="width:100%;">
      <div class="console"  #scrollBottom>
        <span *ngFor="let log of logtext">
          {{ log }} <br>
        </span>
      </div>
    </div>
  </div>
</div>
